#h1 {
    color: rgb(61, 11, 241);
    text-align: center;
}

.text {
    color: rgb(77, 50, 112);
    font-size: 25px;
    padding: 25px;
}

u {
    color: blue;
}

.img {
    height: 350px;
    margin-top: 80px;
    display: block;
    margin: 0 auto;

}

.main {
    background-color: rgb(247, 247, 200);
    border: 2px solid black;
    height: 800px;
    width: 700px;
    display: block;
    margin: 0 auto;

}

.name {
    color: black;
    text-align: center;
    font-size: 30px;
}